@tailwind base;
@tailwind components;
@tailwind utilities;

.border-gradient-custom {
    @apply rounded-[10px] border; /* Applying a 10px border radius */
    position: relative;
    z-index: 0;
  }
  
  .border-gradient-custom::before {
    content: '';
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    z-index: -1;
    border-radius: inherit; /* Inherit border radius from parent */
    padding: 2px; /* Border width */
    background: linear-gradient(109.15deg, #FBDA61 0%, #FF5ACD 86.08%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude; /* CSS Masking Level 1 */
    -webkit-mask-composite: destination-out; /* For Safari */
  }